*.html
*.xmsgs
MIPS/_ngo/
*.bld
*_log
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.par
*.pcf
*.prj
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xst
*.ncd
*.map
*.mrp
*.ncd
*.ngm
*.csv
*.txt
*.xrpt
*.xml
MIPS/webtalk_pn.xml
MIPS/xlnx_auto_0_xdb/
MIPS/xst/
*.pad
*.ptwx
*.xpi
!LICENSE.txt
*.xreport
*.projectmgr

